{
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true,
        "node": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "plugins": ["react", "react-hooks"],
    "rules": {
        "no-console": "off", //we want to keep it in dev to debug
        "no-useless-escape": "off", //support regex
        "react/display-name": "off", //some time we need anonymos function without Name
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "no-prototype-builtins": "off",
        "no-unused-vars": ["error", { "args": "none" }],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prop-types": "off",
        "eqeqeq": "off",
        "react/no-unescaped-entities": "off",
        "no-extra-boolean-cast": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
